html{
    background-color:rgb(94,150,192);
    color:white;
    font-family:Arial, Helvetica, sans-serif;
  }
  #clock{
    text-align:center;
    width:600px;
    height:auto;
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  h1{
    font-size:40px;
    font-weight:bold;
    margin:30px;
  }
  button{
    background-color:inherit;
    color:inherit;
    border:none;
    font-size:inherit;
    font-weight:bold;
    cursor:grab;
    margin:10px;
  }
  #length-set{
    font-size:25px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
  }
  #break-set, #session-set{
    margin:-10px 25px 0px 25px;
  }
  #break-label, #session-label{
    margin:5px;
  }
  #time-displayer{
    width:250px;
    margin:20px auto;
    padding:20px auto;
    border:solid rgb(68,106,136) 8px;
    border-radius:20px;
  }
  #time-displayer>#timer-label{
    font-size:25px;
    margin:20px auto 5px auto;
  }
  #time-displayer>#time-left{
    font-size:60px;
    margin:5px auto 20px auto;
  }
  #control-buttons{
    font-size:20px;
  }